html { height: 100%; }
body {
    color: #ffffff;
    background-color:#580101;
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: sans-serif;
}

.btn {
    display: block;
    width: calc(100% - 20px);
    margin: 0.75rem 10px 0;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    background: #0011ff;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    font-family: sans-serif;
}
.btn:hover { opacity: 0.9; }